Client/PriceList/Web/Service References/WebServiceReference/PricelistService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Common.Data.Enum" />
  <xs:complexType name="SecurityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="TimeRequest" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="TypeSecurity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Workstation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityInfo" nillable="true" type="tns:SecurityInfo" />
  <xs:complexType name="CompanyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="TimeRequest" type="q2:DateTimeOffset" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="TimeResponce" type="q3:DateTimeOffset" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyInfo" nillable="true" type="tns:CompanyInfo" />
  <xs:complexType name="ShortcutInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RequestTime" type="q4:DateTimeOffset" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ResponceTime" type="q5:DateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortcutInfo" nillable="true" type="tns:ShortcutInfo" />
  <xs:complexType name="CountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountBrands" type="xs:long" />
      <xs:element minOccurs="0" name="CountCatalogs" type="xs:long" />
      <xs:element minOccurs="0" name="CountDirectories" type="xs:long" />
      <xs:element minOccurs="0" name="CountPhotos" type="xs:long" />
      <xs:element minOccurs="0" name="CountProductDirections" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountInfo" nillable="true" type="tns:CountInfo" />
  <xs:complexType name="CountPhotosInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountPhotos" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountPhotosInfo" nillable="true" type="tns:CountPhotosInfo" />
  <xs:complexType name="BrandInfo">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CatalogId" nillable="true" type="q6:ArrayOflong" />
      <xs:element minOccurs="0" name="Code" type="ser:guid" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DateOfCreation" type="q7:DateTimeOffset" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ForceUpdated" type="q8:DateTimeOffset" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdated" type="q9:DateTimeOffset" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrandInfo" nillable="true" type="tns:BrandInfo" />
  <xs:complexType name="Brands">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfBrandInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brands" nillable="true" type="tns:Brands" />
  <xs:complexType name="ArrayOfBrandInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrandInfo" nillable="true" type="tns:BrandInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrandInfo" nillable="true" type="tns:ArrayOfBrandInfo" />
  <xs:complexType name="CatalogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Article" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchOfSales" type="xs:decimal" />
      <xs:element minOccurs="0" name="BrandId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DateOfCreation" type="q10:DateTimeOffset" />
      <xs:element minOccurs="0" name="DirectoryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="EnterpriceNormPack" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ForceUpdated" type="q11:DateTimeOffset" />
      <xs:element minOccurs="0" name="HasPhotos" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdated" type="q12:DateTimeOffset" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdatedStatus" type="q13:DateTimeOffset" />
      <xs:element minOccurs="0" name="Multiplicity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Photos" nillable="true" type="q14:ArrayOflong" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Common.Data.Enum" minOccurs="0" name="Status" type="q15:CatalogItemStatus" />
      <xs:element minOccurs="0" name="UID" type="ser:guid" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogInfo" nillable="true" type="tns:CatalogInfo" />
  <xs:complexType name="Catalogs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfCatalogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Catalogs" nillable="true" type="tns:Catalogs" />
  <xs:complexType name="ArrayOfCatalogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogInfo" nillable="true" type="tns:CatalogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogInfo" nillable="true" type="tns:ArrayOfCatalogInfo" />
  <xs:complexType name="DirectoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="ser:guid" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DateOfCreation" type="q16:DateTimeOffset" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ForceUpdated" type="q17:DateTimeOffset" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdated" type="q18:DateTimeOffset" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectoryInfo" nillable="true" type="tns:DirectoryInfo" />
  <xs:complexType name="Directories">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDirectoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Directories" nillable="true" type="tns:Directories" />
  <xs:complexType name="ArrayOfDirectoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryInfo" nillable="true" type="tns:DirectoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryInfo" nillable="true" type="tns:ArrayOfDirectoryInfo" />
  <xs:complexType name="PhotoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatalogId" type="xs:long" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DateOfCreation" type="q19:DateTimeOffset" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ForceUpdated" type="q20:DateTimeOffset" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLoad" type="xs:boolean" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdated" type="q21:DateTimeOffset" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoInfo" nillable="true" type="tns:PhotoInfo" />
  <xs:complexType name="Photos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfPhotoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Photos" nillable="true" type="tns:Photos" />
  <xs:complexType name="ArrayOfPhotoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoInfo" nillable="true" type="tns:PhotoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoInfo" nillable="true" type="tns:ArrayOfPhotoInfo" />
  <xs:complexType name="ProductDirectionInfo">
    <xs:sequence>
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DateOfCreation" type="q22:DateTimeOffset" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Common.Data.Enum" minOccurs="0" name="Direction" type="q23:CommodityDirection" />
      <xs:element minOccurs="0" name="DirectoryId" type="xs:long" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ForceUpdated" type="q24:DateTimeOffset" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdated" type="q25:DateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDirectionInfo" nillable="true" type="tns:ProductDirectionInfo" />
  <xs:complexType name="ProductDirections">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfProductDirectionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDirections" nillable="true" type="tns:ProductDirections" />
  <xs:complexType name="ArrayOfProductDirectionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDirectionInfo" nillable="true" type="tns:ProductDirectionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDirectionInfo" nillable="true" type="tns:ArrayOfProductDirectionInfo" />
</xs:schema>