Client/PriceList/Web/Service References/WebServiceReference/PricelistService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" />
  <xs:import schemaLocation="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q1:SecurityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="HelloResult" nillable="true" type="q2:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareToUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q3:SecurityInfo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lastUpdate" type="q4:DateTimeOffset" />
        <xs:element minOccurs="0" name="needLoadPhotos" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareToUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="PrepareToUpdateResult" nillable="true" type="q5:CountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q6:SecurityInfo" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetBrandResult" nillable="true" type="q7:BrandInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q8:SecurityInfo" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lastUpdate" type="q9:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetBrandsResult" nillable="true" type="q10:Brands" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateBrands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q11:SecurityInfo" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lastUpdate" type="q12:DateTimeOffset" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q13:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateBrandsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q14:SecurityInfo" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetCatalogResult" nillable="true" type="q15:CatalogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q16:SecurityInfo" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lastUpdate" type="q17:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetCatalogsResult" nillable="true" type="q18:Catalogs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateCatalogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q19:SecurityInfo" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q20:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateCatalogsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q21:SecurityInfo" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetDirectoryResult" nillable="true" type="q22:DirectoryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q23:SecurityInfo" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lastUpdate" type="q24:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetDirectoriesResult" nillable="true" type="q25:Directories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateDirectories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q26:SecurityInfo" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q27:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateDirectoriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q28:SecurityInfo" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetPhotoResult" nillable="true" type="q29:PhotoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q30:SecurityInfo" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lastUpdate" type="q31:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetPhotosResult" nillable="true" type="q32:Photos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdatePhotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q33:SecurityInfo" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q34:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdatePhotosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q35:SecurityInfo" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetProductDirectionResult" nillable="true" type="q36:ProductDirectionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDirections">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q37:SecurityInfo" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="lastUpdate" type="q38:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="GetProductDirectionsResult" nillable="true" type="q39:ProductDirections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateProductDirections">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PricelistService.Service.Contract" minOccurs="0" name="securityInfo" nillable="true" type="q40:SecurityInfo" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q41:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmUpdateProductDirectionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>